<% include partials/header %>

<h1> This is our Home.ejs file</h1>
<h2>What do you think sir?</h2>
<img with=100 height=100 src="https://www.nationalgeographic.com/content/dam/animals/thumbs/rights-exempt/mammals/d/domestic-dog_thumb.ngsversion.1484159404151.adapt.1900.1.jpg">

<% include partials/footer %>